repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.0  # Specify the desired version of Gitleaks
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/PyCQA/bandit
    rev: '1.8.6' # Update me!
    hooks:
    - id: bandit
      args: ["-c", "pyproject.toml"]
      additional_dependencies: ["bandit[toml]"]
  - repo: https://github.com/facebook/pyrefly
    rev: 0.40.1
    hooks:
      - id: pyrefly-typecheck